<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="login_box">
                <div class="login_warp">
                    <h4>Login here...</h4>
                  
                    <form class="mt-3" [formGroup]="login" (ngSubmit)="logindata(login)">
                        <div class="mb-3">
                            <label for="Email" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="Email"
                                 formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label  for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <div class="mb-3">
                            <span>Create New Account <a [routerLink]="['/signup']">Signup</a></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
